In [1]:
# %%
# -*- coding: utf-8 -*-
from skimage.io import imread_collection
import dash_html_components as html
import dash_core_components as dcc
import plotly.express as px
from sklearn.manifold import TSNE

import json

from dash.dependencies import Input, Output
import pandas as pd
import flask
import dash
import os
import numpy as np

In [3]:
df = pd.read_pickle('..\\data\\tsne_pickle.csv')

In [5]:
df2 =  pd.read_csv('..\\data\\input.csv')

In [6]:
df2

                       paths         x         y  label
0    data\images\0\img_1.jpg -1.080838  5.209680    NaN
1    data\images\0\img_4.jpg -0.715042  5.706386    NaN
2    data\images\0\img_5.jpg -0.815919  3.356602    NaN
3   data\images\0\img_17.jpg  0.626120  3.775223    NaN
4   data\images\0\img_23.jpg -0.670009  5.815629    NaN
..                       ...       ...       ...    ...
95  data\images\9\img_40.jpg -2.558190 -0.984408    NaN
96  data\images\9\img_53.jpg  4.388544  2.899621    NaN
97  data\images\9\img_58.jpg  1.647614 -0.914233    NaN
98  data\images\9\img_71.jpg  3.076288  0.517031    NaN
99  data\images\9\img_83.jpg  2.512347 -0.340890    NaN

[100 rows x 4 columns]

In [7]:
df = df[['paths', 'x', 'y', 'label']]

In [9]:
df.to_csv('input_large.csv', index = False)

In [11]:
df3 = pd.read_csv('input_large.csv')

In [12]:
df3

                             paths         x         y  label
0          data\images\0\img_1.jpg -1.080838  5.209680      0
1          data\images\0\img_4.jpg -0.715042  5.706386      0
2          data\images\0\img_5.jpg -0.815919  3.356602      0
3         data\images\0\img_17.jpg  0.626120  3.775223      0
4         data\images\0\img_23.jpg -0.670009  5.815629      0
...                            ...       ...       ...    ...
41995  data\images\9\img_41962.jpg  3.710309  0.500457      9
41996  data\images\9\img_41969.jpg  4.110763  1.489969      9
41997  data\images\9\img_41975.jpg  4.591985  2.481595      9
41998  data\images\9\img_41992.jpg  4.050483  3.722475      9
41999  data\images\9\img_41999.jpg  3.032160  1.958651      9

[42000 rows x 4 columns]

In [4]:
df['image'] = df['image'].apply(lambda x: np.array(x))

,index,label,x,y,paths,image
0,0,0,-1.080838,5.209680,data\images\0\img_1.jpg,"[3, 0, 0, 3, 7, 3, 0, 3, 0, 11, 0, 0, 3, 0, 0,..."
1,1,0,-0.715042,5.706386,data\images\0\img_4.jpg,"[0, 4, 6, 0, 0, 0, 0, 0, 1, 0, 0, 3, 0, 2, 0, ..."
2,2,0,-0.815919,3.356602,data\images\0\img_5.jpg,"[0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 12, 0, 0,..."
3,3,0,0.626120,3.775223,data\images\0\img_17.jpg,"[0, 0, 0, 0, 0, 0, 0, 0, 7, 0, 0, 5, 0, 0, 3, ..."
4,4,0,-0.670009,5.815629,data\images\0\img_23.jpg,"[0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 6, ..."
...,...,...,...,...,...,...
41995,41995,9,3.710309,0.500457,data\images\9\img_41962.jpg,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 7, 0, ..."
41996,41996,9,4.110763,1.489969,data\images\9\img_41969.jpg,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 7, 0, 0, 8, 0, 0, ..."
41997,41997,9,4.591985,2.481595,data\images\9\img_41975.jpg,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
41998,41998,9,4.050483,3.722475,data\images\9\img_41992.jpg,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 4, 5, 0, 0, ..."
41999,41999,9,3.032160,1.958651,data\images\9\img_41999.jpg,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 1, 0, 0, ..."

In [4]:
df = pd.DataFrame({'a' : [0,1,2],
                 'b' : [9,9,9]})

In [10]:
type(df.to_json())

str

In [11]:
type(json.dumps(df.to_json()))

str

In [9]:
json.dumps(df)

TypeError: Object of type DataFrame is not JSON serializable

In [ ]:
tsne = pd.read_pickle('..\\data\\tsne_pickle.csv')

In [ ]:
point = np.asarray(tsne.loc[4]['x':'y'])#.astype(np.float64)

In [ ]:
point

In [ ]:
tsne[tsne.loc[:,"x":"y"].eq(point).all(axis = 1)].index[0]

In [91]:
df = pd.read_csv('..\\data\\blank_sample.csv')

In [92]:
df = df[['paths', 'x', 'y', 'label']]
df = df.reset_index(drop=True)

df['index'] = df.index.values
df['label'] = df['label'].fillna('')

path_list = df['paths'].values

In [93]:
df.dtypes

paths     object
x        float64
y        float64
label     object
index      int64
dtype: object

In [94]:
df['label'] = df['label'].astype(str)
#df = df.round(7)

In [95]:
df.dtypes

paths     object
x        float64
y        float64
label     object
index      int64
dtype: object

In [96]:
import json
jsoned = df.to_json()
unpacked = pd.read_json(jsoned)

In [97]:
df.dtypes

paths     object
x        float64
y        float64
label     object
index      int64
dtype: object

In [98]:
df.iloc[4]['x']

-0.67000926

In [75]:
#unpacked = unpacked.round(7)

In [99]:
unpacked.iloc[4]['x']

-0.67000926

In [105]:
df.iloc[4]['x']

-0.67000926

In [103]:
unpacked.iloc[4]['y']

5.8156289999999995

In [104]:
df.iloc[4]['y']

5.815629

In [106]:
unpacked.dtypes

paths     object
x        float64
y        float64
label     object
index      int64
dtype: object

In [102]:
(unpacked == df)

    paths      x      y  label  index
0    True   True  False   True   True
1    True   True   True   True   True
2    True   True   True   True   True
3    True   True  False   True   True
4    True   True  False   True   True
..    ...    ...    ...    ...    ...
95   True   True   True   True   True
96   True  False  False   True   True
97   True   True   True   True   True
98   True   True   True   True   True
99   True  False   True   True   True

[100 rows x 5 columns]